<a href="https://colab.research.google.com/github/ashwinijadamali/Phyton-using-DA-and-ML/blob/master/Day2_session1_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

print multiples of 3 upto 200 using a list

In [ ]:
import numpy as np
x = np.arange(1, 200)
n= x[(x % 3 == 0)]
print(n)

[  3   6   9  12  15  18  21  24  27  30  33  36  39  42  45  48  51  54
  57  60  63  66  69  72  75  78  81  84  87  90  93  96  99 102 105 108
 111 114 117 120 123 126 129 132 135 138 141 144 147 150 153 156 159 162
 165 168 171 174 177 180 183 186 189 192 195 198]

print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)

In [ ]:
nl=[]
for x in range(1000, 2000):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1015,1050,1085,1120,1155,1190,1225,1260,1295,1330,1365,1400,1435,1470,1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995

Add the n number of names in a list and print them alphabetically and reverse alphabetically.

In [ ]:
a=[]
n=int(input("Enter n: "))
print("Enter names:")
for i in range(1,n+1):
    b=input()
    a.append(b)
a.sort()
print("names in alphabetic order:"+str(a))
a.reverse()
print("names in reverse alphabetic order:"+str(a))

Enter n: 3
Enter names:
anvitha
anu
appi
names in alphabetic order:['anu', 'anvitha', 'appi']
names in reverse alphabetic order:['appi', 'anvitha', 'anu']

Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list

In [ ]:
 
def perfectSquares(l, r):  
	for i in range(l, r + 1): 

    if (i**(.5) == int(i**(.5))): 
       print(i, end=" ") 
l = 500
r = 1000

perfectSquares(l, r)

529 576 625 676 729 784 841 900 961

Get  a string and store word by word as elements in a tuple and find the largest word in the  tuple and print it

In [ ]:
def find_longest_and_shortest_word(list_of_words):
    longest_word = list_of_words['hey','i','am']
    shortest_word = list_of_words['hey','i','am']
    for word in list_of_words:
        if len(longest_word) < len(word):
            longest_word = word
        if len(shortest_word) > len(word):
            shortest_word = word
    print(f'The longest word is: {longest_word}')
    print(f'The shortest word is: {shortest_word}')
    return longest_word, shortest_word

Get rollno and marks (Rollno, mark) as list of tuples for n number of students through keyboard  and print them in marks descending order with rollno.

In [ ]:
students = []
name=[]
marks = []
num = input("How many students?:  ") 
for i in num:
  name = input("input roll no of student "+ i)
  students.append(name)
  mark = input("input mark of the student")
  marks.append(mark)
  for i in num:
    print(students[i] + ": ",marks[i])

Get name and salary (name, salary) as list of tuples for n number of employees through keyboard  and print them in name alphabetical order with salary

In [ ]:


 
def Sort_Tuple(tup): 
	tup.sort(key = lambda x: x[1]) 
	return tup 
tup = [('rishav', 10), ('akash', 5), ('ram', 20), ('gaurav', 15)] 


print(Sort_Tuple(tup))

[('akash', 5), ('rishav', 10), ('gaurav', 15), ('ram', 20)]